---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Urpean contacta con nosotros">
  <Header visible={true} />
  <h1>Contáctanos</h1>
</Layout>
