---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Product from "../components/Product.astro";
import Products from "../components/Products.jsx";
import Expertise from "../components/Expertise.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Urpean">
  <Header visible={false} />
  <main>
    <div class="presentation">
      <img src="/urpean_logo.svg" alt="Logo urpean" class="mainLogo" />
      <h1>Deth mar ara montanha</h1>
      <h3>Despacho del marisco</h3>
      <p>
        Bienvenidos a Urpean. Un bonito proyecto que une mar y montaña desde el
        que os invitamos a sumergiros con nosotros para disfrutar de una
        inmejorable experiencia gastronómica.
      </p>
      <img src="/c_2.png" alt="Centollo" class="footImg" />
    </div>
    <div class="whitey">
      <h1>Nuestra filosofía</h1>
      <p>
        Hemos nacido y crecido en la costa gipuzkana, un lugar lleno de belleza
        y buena gastronomía. Pero nuestro instinto nos ha llevado a explorar
        lugares de igual o mayor atractivo. Por eso hoy, nos encontramos aquí,
        en el valle de Arán cautivados por sus encantos y con ganas de cautivar
        vuestros paladares.
      </p>
    </div>
    <Products client:visible />
    <Expertise />
  </main>
  <Footer />
</Layout>

<style is:global>
  main {
    margin: auto;
    max-width: 60ch;
    text-align: center;
    overflow: hidden;

    p {
      margin: 10px;
    }
  }
  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    margin-top: 0.5em;
    font-family: "Reenie Beanie", cursive;
  }
  .mainLogo {
    height: 130px;
    margin-bottom: 2em;
  }
  .footImg {
    opacity: 0.8;
    margin-top: 4em;
    width: 50%;
  }
  .presentation {
    margin: 100px 0px;
    padding: 25px;
  }
  .whitey {
    background-color: white;
    color: var(--sea);
    padding: 20px;
  }

  #productos {
    margin-top: 150px;
  }

  .product {
    width: 100 %;
    position: relative;
    display: block;
  }
  .product h5 {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .products {
    margin-top: 40px;
  }
  .product img {
    position: relative;
    display: block;
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    filter: url(#brightness); /* required for FF */
    filter: brightness(80%);
    object-fit: cover;
    width: 95%;
    aspect-ratio: 1/1;
    max-height: 460px;
    translate: translateY(35px);
    transition: all 1s ease;
  }

  .product.current img {
    width: 95%;
    max-height: 500px;
    transform: translateY(0px);
  }

  .product h5 {
    font-family: "Playfair Display", serif;
    font-size: 3em;
    font-weight: 400;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 10;
    text-align: center;
  }

  .product p {
    position: absolute;
    top: 275px;
    font-size: 1.2em;
    width: 100%;
    z-index: 10;
    text-align: center;
  }
  .fullW {
    width: 100%;
  }

  @media (min-width: 700px) {
    main {
      max-width: 820px;
    }
  }
</style>
