<div class="expertiseSection">
  <h1>"Our Expertise"</h1>
  <p>
    Una experiencia donde se activarán todos tus sentidos. La vista deleitará
    tus ojos, el viento tus oídos, la nieve tu tacto y Urpean tu paladar
  </p>
  <img src="/vall.png" alt="Paisaje de la vall d'Aran" />
</div>

<style>
  .expertiseSection {
    margin-top: 100px;
  }
  p {
    padding: 5px 20px;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
</style>
