<footer>
  <div class="bar"></div>
  <div class="contacto" aria-label="Contacto">
    <a href="tel:+34-660898248">Tlf: +34 660898248</a>
    <a href="mailto:info@urpean.cat">info@urpean.cat</a>
    <p>Dirección: Passeg dera Libertat 15</p>
  </div>
  <div class="rrss" aria-label="Redes Sociales">
    <a href="https://www.instagram.com/urpeanvda/"
      ><img alt="instagram" src="/icon_ig.svg" />
    </a>
  </div>
</footer>

<style>
  a {
    all: unset;
    cursor: pointer;
  }
  a label {
    cursor: pointer;
  }
  footer {
    max-width: 60ch;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 70px;
    padding: 20px;
  }
  .bar {
    height: 2px;
    background-color: white;
    width: 95%;
    margin: auto;
    margin-bottom: 40px;
  }
  .contacto {
    display: flex;
    flex-direction: column;
  }
  .contacto a {
    margin-top: 16px;
  }
</style>
