---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content="Urpean" />
    <meta
      name="description"
      content="Portfolio showcasing my works and experience."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://urpean.cat/" />
    <meta property="og:title" content="Urpean amrisco" />
    <meta property="og:description" content="Descubre la experiencia Urpean." />
    <meta
      property="og:image"
      content="https://urpean.cat/uprean_logo_full.svg"
    />
    <meta name="description" content="Descubre la experiencia Urpean" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
    <meta name="robots" content="index, follow" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --sea: #053766;
    --grey: #96939b;
    --secondary: #e8e8e8;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: "Quicksand", sans-serif;
    background-color: var(--sea);
    color: white;
  }
  body {
    margin: 0;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .blackT {
    font-weight: 600;
  }
</style>
